"*":
  core:
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "mononoki"
    fontSize: 18
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "76d6bd0a-16fd-42b8-0163-bce5c8c7e379"
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
